page-user-details {
    .nonEditRow
    {
      text-align: right;
      border-bottom: 2px solid #b1bdbe;
      padding: 30px 5px;
      color: #8b9596;
    }

    .MainAvatar
    {
      text-align: center;
      margin: auto;
      color: #8b9596;
    }

    .rowRight
    {
      float: right;
      width: 75%;
      margin-top: 6px;
    }

    .rowLeft
    {
      float: left;
      width: 7%;
    }

    .buttons
    {
      margin-top: 20px;
    }

  .absoluteEditButton
  {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 18px;
    margin-left: 8px;
  }

}
